# SPDX-License-Identifier: GPL-2.0
menu "Andes AE350 platform drivers"

config ANDES_PPMA
	bool "Andes PPMA Support"
	depends on ARCH_ANDES
	depends on ERRATA_ANDES
	depends on ERRATA_ANDES_CMO
	help
	  When calling memremap with MEMREMAP_WC flag,
	  Andes programmable physical memory attributes (PPMA)
	  can map memory as non-cacheable bufferable PMA region.

config ANDES_ATCSMU
	bool "Andes ATCSMU Support"
	depends on RISCV && ARCH_ANDES
	help
	  Enable the driver for Andes System Management
	  Unit (SMU) to support light/deep sleep and
	  hotplug utilities.

config ANDES_HVM
	tristate "Andes HVM Support"
	depends on RISCV && ARCH_ANDES
	help
	  Andes High-bandwidth Vector Memory (HVM) support.

config ANDES_HW_TRACE
	tristate "Andes Hardware Trace Support"
	depends on RISCV && ARCH_ANDES
	help
	  Andes Hardware Trace support.

endmenu
